
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/stylesSong.css"/>
    <title>WeatherBeats</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
    <div class="container text-center">
        
        <div class="nav-bar">

            <div class="logo">
                <a href="/">
                    <img src="../static/images/logo-weatherBeats-fit.png" alt="logo">
                </a>
            </div>

            <!-- Form -->
            <form class="" method="GET" action="song.html">
                <input type="text" class="" name="location" placeholder="Enter a city name">
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </form>

        </div>
        
        <!-- Header -->
        <div class="hero-container header mt-5">
            <div class="mood-image">
                <img src="../static/images/placeholder-image.png" alt="logo">
            </div>
            <div class="mood-content">
                <h1>Location Mood</h1>
            </div>

        </div>
        <div id="playlist-title">
            <p>YOUR PLAYLIST</p>
        </div>
        <!-- Content -->
        <div class="content">
            <div class="list-group content-list">
                <!-- Placeholder for all the Spotify data in a table -->

            </div>
        </div>
    </div>

    <!-- Link JS file -->
    <!-- <script src = "../static/songs.js"></script> -->
    
    <script>

        // helper function to create an expandable list item with song info and lyrics
        function createExpandableListItem(song) {
            let expandableListItem = document.createElement('li');
            expandableListItem.classList.add('expandable-list-item');

            let songInfoDiv = document.createElement('div');
            songInfoDiv.classList.add('song-info');
            songInfoDiv.style.display = 'block';
            
            // Song Title as H1
            let songTitle = document.createElement('h3');
            songTitle.innerHTML = '<span>Title:</span> ' + song.song_name;
            songInfoDiv.appendChild(songTitle);

            // Song Artist, Genre, Moods as P
            let artistName = document.createElement('h4');
            artistName.innerHTML = '<span>Artist:</span> ' + song.artist_name;
            songInfoDiv.appendChild(artistName);

            let genre = document.createElement('h4');
            genre.innerHTML = '<span>Genre:</span> ' + song.genre;
            songInfoDiv.appendChild(genre);

            let moods = document.createElement('h4');
            moods.innerHTML = '<span>Mood:</span> ' + song.moods;
            songInfoDiv.appendChild(moods);

            // songInfoDiv.textContent = `Artist: ${song.artist_name}, Genre: ${song.genre}, Moods: ${song.moods}`;

            let uriDiv = document.createElement('div');
            uriDiv.classList.add('uri');

            let spotifyLink = document.createElement('a');
            spotifyLink.href = song.uri;
            spotifyLink.textContent = 'Listen on Spotify';
            uriDiv.appendChild(spotifyLink);
            uriDiv.style.display = 'none';

            expandableListItem.appendChild(songInfoDiv);
            expandableListItem.appendChild(uriDiv);

            expandableListItem.addEventListener('mouseenter', function () {
                uriDiv.style.display = 'block';
                songInfoDiv.style.display = 'none';
            });

            expandableListItem.addEventListener('mouseleave', function () {
                uriDiv.style.display = 'none';
                songInfoDiv.style.display = 'block';
            });


            return expandableListItem;
        }

        
        // get the location parameter from the URL
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        const location_param = urlParams.get('location');

        // if location parameter exists, fetch the mood and song data
        if (location_param) {

            fetch('/moodFromWeatherAPI?location=' + location_param)
            .then(
                function(resp) {
                    return resp.json();
                }
            )
            .then (
                function(data) {
                    // console.log(data);

                    // let mood_list = data['mood'];

                    // for (let mood of mood_list) {
                    //     let mood_item = document.createElement('li');
                    //     mood_item.textContent = mood.mood;
                    //     document.querySelector('.content-list').appendChild(mood_item);
                    // }

                    let mood = data['mood'];
                    
                    let mood_header = document.querySelector('.mood-content h1');
                    mood_header.textContent = mood.join(', ');

                    // list of mood to a string
                    mood = mood.join(' ');

                    console.log(mood);

                    fetch('/songsFromMoodAPI?moods=' + mood.trim())
                    .then(
                        function(resp) {
                            return resp.json();
                        }
                    )
                    .then (
                        function displaySongs(data) {
                            let songList = data['songs'];
                            let contentList = document.querySelector('.content-list');
                            const table = document.createElement('table');
                            contentList.appendChild(table);

                            let cellCounter = 0;
                            let currentRow;
                            for (let song of songList) {
                                if (cellCounter % 4 === 0) {
                                            currentRow = document.createElement('tr');
                                            table.appendChild(currentRow);
                                        }
                                const cell = document.createElement('td');
                                let expandableListItem = createExpandableListItem(song);
                                cell.appendChild(expandableListItem);
                                currentRow.appendChild(cell);

                                cellCounter++;
                            }
                        }
                    )
                }
            )

        }

    </script>

</body>
</html>

