
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/viz.css">
    <title>Music Visualizations</title>
</head>
<body>
    
    <h1>Music Visualizations</h1>

    <div class="visualization-container">

        <!-- Link back to Home Page -->
        <a href="/">
            <button class="home-button">Home</button>
        </a>
        
        <!-- Visualization 1 -->
        <div class="visualization-item">
            <img src="../static/visualization-static/correlation_heatmap.png" alt="Correlation Heatmap">
            <!-- <p>Features Correlation Heatmap</p> -->
        </div>

        <!-- Visualization 2 -->
        <div class="visualization-item">
            <img src="../static/visualization-static/feature_distribution_subplot.png" alt="Feature Distribution Subplot">
            <!-- <p>Feature Distribution Subplot</p> -->
        </div>

        <!-- Visualization 3 -->
        <div class="visualization-item">
            <img src="../static/visualization-static/genre_frequency_plot.png" alt="Genre Frequency Plot">
            <!-- <p>Genre Frequency Plot</p> -->
        </div>

        <!-- Visualization 4 -->
        <div class="visualization-item">
            <img src="../static/visualization-static/top_10_moods_clear_sky.png" alt="Top 10 Moods - Clear Sky">
            <!-- <p>Top 10 Moods - Clear Sky</p> -->
        </div>

        <!-- Visualization 5 -->
        <div class="visualization-item">
            <img src="../static/visualization-static/top_10_moods_overcast_clouds.png" alt="Top 10 Moods - Overcast Clouds">
            <!-- <p>Description of Top 10 Moods - Overcast Clouds</p> -->
        </div>

        <!-- Visualization 6 -->
        <div class="visualization-item">
            <img src="../static/visualization-static/top_10_moods_broken_clouds.png" alt="Top 10 Moods - Broken Clouds">
            <!-- <p>Top 10 Moods For Broken Clouds</p> -->
        </div>

        <!-- Visualization 7 -->
        <div class="visualization-item">
            <img src="../static/visualization-static/top_10_moods_few_clouds.png" alt="Top 10 Moods - Few Clouds">
            <!-- <p>Top 10 Moods For Few Clouds</p> -->
        </div>

        <!-- Visualization 8 -->
        <div class="visualization-item">
            <img src="../static/visualization-static/top_10_moods_scattered_clouds.png" alt="Top 10 Moods - Scattered Clouds">
            <!-- <p>Top 10 Moods For Scattered Clouds</p> -->
        </div>

        <!-- Visualization 9 -->
        <div class="visualization-item">
            <img src="../static/visualization-static/top_10_moods_light_rain.png" alt="Top 10 Moods - Light Rain">
            <!-- <p>Top 10 Moods For Light Rain</p> -->
        </div>

        <!-- Visualization 10 -->
        <div class="visualization-item">
            <img src="../static/visualization-static/top_10_moods_mist.png" alt="Top 10 Moods - Mist">
            <!-- <p>Top 10 Moods For Mist</p> -->
        </div>

        <!-- Visualization 11 -->
        <div class="visualization-item">
            <img src="../static/visualization-static/top_10_moods_moderate_rain.png" alt="Top 10 Moods - Moderate Rain">
            <!-- <p>Top 10 Moods For Moderate Rain.</p> -->
        </div>

        <!-- Visualization 12 -->
        <div class="visualization-item">
            <img src="../static/visualization-static/top_10_moods_light_intensity_drizzle.png" alt="Top 10 Moods - Light Intensity Drizzle">
            <!-- <p>Top 10 Moods For Light Intensity Drizzle</p> -->
        </div>

        <!-- Visualization 13 -->
        <div class="visualization-item">
            <img src="../static/visualization-static/top_10_moods_haze.png" alt="Top 10 Moods - Haze">
            <!-- <p>Top 10 Moods For Haze</p> -->
        </div>

        <a href="/">
            <button class="home-button">Home</button>
        </a>

    </div>

</body>
</html>
